
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>index2</title>
</head>
<body>
    <div> 
        <table border="1" align="center" width="15%">
            <caption>student details</caption>
            <tr><td>id:</td>@Session["id"]</tr>
            <tr><td>name:</td>@Session["name"]</tr>
            <tr><td>mobilenumber:</td>@Session["mobilenumber"]</tr>
        </table>
    </div>
</body>
</html>
